<h3 align="center" style="font-size:35pt" >
    HW 2
    <p style="font-size:18pt">
    <u>Team Members: </u>  
    <p style="font-size:12pt">
    Brandt Lawson  
    <p style="font-size:12pt">
    insert here
    <p style="font-size:12pt">
    insert here 
    <p style="font-size:12pt">
    insert here

In [21]:
import pandas as pd
import numpy as np

path_to_data_file = './hedge_data.xls'
raw_data = pd.read_excel(path_to_data_file)

#This is a test, './'' steps into this file's folder and lets you access the data file by just its name
raw_data.head()

        date   gross     net
0 1994-04-30  0.0658  0.0508
1 1994-05-31 -0.0415 -0.0315
2 1994-06-30  0.1137  0.0817
3 1994-07-31  0.0355  0.0275
4 1994-08-31 -0.0061 -0.0051

# <p style="font-size:20pt"> <p style="text-decoration: underline;"> Part 2: LTCM Risk  </p> 
<br/>



## <p style="font-size:18pt"> 1. Summary Stats
 
<p style="font-size:16pt"> a) For both the gross and net series of LTCM excess returns, report the mean and volatility. Since this is monthly data, scale the mean by 12, and scale the volatility by sqrt(12).

<p style="font-size:16pt"> b) Report the annualized Sharpe ratio, (the SR based on the annualized mean and volatility.)

<p style="font-size:16pt"> c) Comment on whether the mean, volatility, and Sharpe ratio seem especially high or low relative to other assets we have seen.

## 2. Using the series of net LTCM excess returns, denoted r_tilde^LTCM, estimate the following regression: <h3 align="center"> rLTCM t =  + mrm t + t
<br/>

<p style="font-size:16pt">a) Report  and m. Report the R2 stat.

<p style="font-size:16pt">b) From this regression, does LTCM appear to have much exposure to the equity-market factor, ~rm?

## 3. Regression-based metrics.


<p style="font-size:16pt">a) Calculate the Treynor ratio.

<p style="font-size:16pt">b) Calculate the Information ratio.

## 4. Tail risk.
<p style="font-size:16pt">a) Calculate the 5th worst return of the sample.

<p style="font-size:16pt">b) Calculate the mean of the worst 4 returns from the sample.

<p style="font-size:16pt">c) Report the skewness of the return distribution. Compare to a normal distribution with
skewness of 0.

<p style="font-size:16pt">d) Report the kurtosis of the return distribution. Compare to a normal distribution with
kurtosis of three

# <p style="font-size:20pt"> <p style="text-decoration: underline;"> Part 3: Other Hedge Fund Indexes  </p> 
<br/>



## <p style="font-size:18pt"> 1. Report the summary statistics for each series:

# Sources

https://www.w3schools.com/html/html_styles.asp